@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@500&family=Indie+Flower&family=Raleway&display=swap');

:root {
  --primary-color:  rgb(234, 235, 238);
  --secondary-color: rgbs(229, 148, 0, 0.9);
  --overlay-color: rgbs(24, 39, 51, 0.85);
}

/* override browser default */
html,
body {
  margin: 0;
  padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
  height: 100vh;
  width: 100vw;
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
}


/* Wine Home Page */
#wine-nav {
  font-family: 'Courgette', cursive;
  font-size: 1.5rem;
}

#wine-nav .container .navbar-brand {
  font-size: 2rem;
}

/* Wine List Page */

/* Background Image */
#wine-list {
  color: #fff;
  background: #333;
  padding: 2rem;
  position: relative;
  height: 150vh;
}


#wine-list:before {
  content: '';
  background: url('../img/corks.jpg');
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

/* Wine List */
/* Wine Filter */
.form-row {
  display: flex;
  justify-content: space-evenly; 
}

#wine-filter-btn {
  height: 40px;
  margin-top: 25px;
}

.wine-table {
  background:  var(--primary-color);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  opacity: 0.9;
  position: relative;
  border-style: solid;
  
}

.wine-table td {
  justify-content: center ;
  vertical-align: middle;
}

/* Add Wine Page */

/* Add Wine Background Image */
#add-wine {
  color: #fff;
  background: #333;
  padding: 2rem;
  position: relative;
  height: 100vh;
}

#add-wine:before {
  content: '';
  background: url('../img/vineyard.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

/* Add Wine Form*/

.add-wine-form {
  background: var(--primary-color);
  color: #333;
  border-radius: 15px;
  opacity: 0.9;
  font-family: 'Raleway', sans-serif;
}


/* Edit Wine Page */
/* Background Image */
#edit-wine {
  color: #fff;
  background: #333;
  padding: 2rem;
  position: relative;
  height: 100vh;
}

#edit-wine:before {
  content: '';
  background: url('../img/vineyard.jpg') repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

/* Add Wine Form*/

.edit-wine-form {
  background: var(--primary-color);
  color: #333;
  border-radius: 15px;
  opacity: 0.9;
  font-family: 'Raleway', sans-serif;
}




/* Wine Search Page */

/* Background Image */
#wine-search {
  color: #fff;
  background: #333;
  padding: 2rem;
  position: relative;
  height: 100vh;
}


#wine-search:before {
  content: '';
  background: url('../img/corks.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

@media only screen and (max-width: 600px) {
  #wine-nav .container .navbar-brand {
  font-size: 1.5rem;
}
 #wine-nav {
  font-size: 1rem;
}

}

@media only screen and (max-width: 768px) {
  #wine-nav .container .navbar-brand {
  font-size: 1.5rem;
}
 #wine-nav {
  font-size: 1rem;
}

#wine-filter-btn {
  margin-left: 50px;
}
}

