@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@500&family=Indie+Flower&family=Raleway&display=swap');

:root {
  --primary-color:  rgb(234, 235, 238);
  --secondary-color: rgbs(229, 148, 0, 0.9);
  --overlay-color: rgbs(24, 39, 51, 0.85);
}

/* use viewport-relative units to cover page fully */
body {
  background: #faf9f9;
  height: 100vh;
  width: 100vw;
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
  margin: 0;
}

/* Wine Home Page */
#wine-nav {
  font-family: 'Courgette', cursive;
  font-size: 1.5rem;
}

#wine-nav .container .navbar-brand {
  font-size: 2rem;
}

/* Wine List Page */
section {
  background-image: url('../img/corks.jpg');
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat;
  padding: 20px;
}

#txt_srch {
  border: none;
}

#inputRating {
  border: none;
}

#wine-list {
  /* background-color: rgb(133, 193, 233); */
  margin: 0;

}

.wine-filter {
   margin: 5px;
}

.form-row {
  padding: 10px;
  border: 2px solid black;
  background: var(--primary-color);
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly; 
}

/* Background Image */
/* #wine-list {
  color: #fff;
  background: #333;
  padding: 2rem;
  position: relative;
  height: 90vh;
}

#wine-list:before {
  content: '';
  background-image: url('../img/corks.jpg');
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
} */

/* SCROLLABLE TABLE */
/* .wine-list          { overflow-y: auto; height: 800px; }
.wine-list thead th { position: sticky; top: 0; }

/* Just common table stuff. Really. */
/* table  { border-collapse: collapse; width: 100%; }
th, td { padding: 2px 2px; }
th     { background:#eee; } */ 

/* Wine Filter */

#wine-filter-btn {
  height: 40px;
  margin-top: 25px;
}

.wine-list {
  max-width: 100%;
  overflow: hidden;
}

.wine-table {
  background:  var(--primary-color);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  opacity: 0.9;
  position: relative;
  border-style: solid;
}

.wine-table td {
  justify-content: center ;
  vertical-align: middle;
}

/* .pagination {
  font-family: 'Raleway', sans-serif;
  justify-content: center;
} */

/* Add Wine Page */
/* Add Wine Background Image */
#add-wine {
  color: #fff;
  background: #333;
  padding: 2rem;
  position: relative;
  height: 94vh;
  overflow: hidden;
}

#add-wine:before {
  content: '';
  background: url('../img/vineyard.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

/* Add Wine Form*/

.add-wine-form {
  background: var(--primary-color);
  color: #333;
  border-radius: 15px;
  opacity: 0.9;
  font-family: 'Raleway', sans-serif;
}


/* Edit Wine Page */
/* Background Image */
#edit-wine {
  color: #fff;
  background: #333;
  padding: 2rem;
  position: relative;
  height: 100vh;
}

#edit-wine:before {
  content: '';
  background: url('../img/vineyard.jpg') repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

/* Add Wine Form*/

.edit-wine-form {
  background: var(--primary-color);
  color: #333;
  border-radius: 15px;
  opacity: 0.9;
  font-family: 'Raleway', sans-serif;
}




/* Wine Search Page */

/* Background Image */
#wine-search {
  color: #fff;
  background: #333;
  padding: 2rem;
  position: relative;
  height: 94vh;
}


#wine-search:before {
  content: '';
  background: url('../img/corks.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

@media only screen and (max-width: 600px) {
  #wine-nav .container .navbar-brand {
  font-size: 1.5rem;
}
 #wine-nav {
  font-size: 1rem;
}

}

@media only screen and (max-width: 768px) {
  #wine-nav .container .navbar-brand {
  font-size: 1.5rem;
}
 #wine-nav {
  font-size: 1rem;
}

#wine-filter-btn {
  /* margin-left: 50px; */
}
}

