@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@500&family=Indie+Flower&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --primary-color:  rgb(206, 220, 240);
  --secondary-color: rgbs(229, 148, 0, 0.9);
  --overlay-color: rgbs(24, 39, 51, 0.85);
}

/* override browser default */
html,
body {
  margin: 0;
  padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
  height: 100vh;
  width: 100vw;
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
}

/* Utilities */
.recipe-detail .bold {
  font-weight: bolder;
  font-size: large;
}

/*Nav Bar */

#recipe-nav {
  font-family: 'Courgette', cursive;
  font-size: 1.5rem;
}

#recipe-nav .container .navbar-brand {
  font-size: 2rem;
}


/* Home Page */

#recipe-home {
  background: url('../img/chopping-board.jpg') no-repeat center center/cover;
  height: 100vh;
  width: 100%;
}

#recipe-home .recipe-home-typewriter {
  font-family: 'Dancing Script', cursive;
  color: #fff;
  font-size: 6rem;
}

#recipe-home .header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.time-type {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 1rem;

  }

  label {
    font-weight: bold;
  }

.recipe-name {
  display:flex;
  justify-content: center;
}

/* Recipe List Page */
#recipe-filter {
  font-family: 'Raleway', sans-serif;
}


#recipe-filter-btn {
  height: 40px;
  margin-top: 25px;
}

/* Background Image */
#recipe-page {
  color: #fff;
  background: #333;
  padding: 2rem;
  position: relative;
  height: 100vh;
}

#recipe-page:before {
  content: '';
  background: url('../img/pizza.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

#recipe-page .recipe-table {
  background:  var(--primary-color);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  opacity: 0.9;
  position: relative;
  border-style: solid;
}

/* Recipe Detail Page */
.recipe-detail {
  font-family: 'Open Sans', sans-serif;
}


/* Add Recipe Page */
#add-recipe {
  margin-top: 20px;
}

.add-recipe-form {
  font-family: 'Open Sans', sans-serif;
  background-color: #fffff0;
  font-weight: bold;
  opacity: 0.8;
}

.add-header {
  font-weight: bold;
  padding-top: 4px;
}