
{% extends 'spanish/base.html' %}
{% load static %}
{% block content%}

<div class="container header">
       
</div>
 <div class="buttons-flip">
    <button  names="fetchAPI" id="fetchAPI" class="btn btn-primary next">Next Word</button>
     <button id="showBtn" class="btn btn-primary next">Flip Card</button>
    </div>


<div class="container flashcard">
   
    <h1 id="spanish" class="spanish"></h1>
    <h1 id="english" class="english"></h1>

</div>

<div class="container buttons">
         <form id="addWord" method="GET" enctype="multipart/form-data">
           <input type="hidden" name="id" id="flash-num" value="">
           <label class="form-check-label" for="exampleRadios1">
            Save to VG list
          </label>

        <input class="vg" type="radio" name="vg" value="vg">
        <input class="btn btn-primary submit" type="submit" value="Save">

         </form>
</div>




<script src="{% static 'spanish/js/spanish.js' %}"></script>

{% endblock %}